.article-container {
    background-color: #E0FFFF;
    margin: 0 auto;
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.article {
    background-color: #AFEEEE;
    padding: 20px;
    border: 1px solid #808080;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.load-more-button {
    display: block;
    width: 100%;
    padding: 24px;
    margin-top: 12px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.load-more-button:hover {
    background-color: #007B9A;
}

.loading-spinner {
    margin: 24px;
}

.article-image {
    max-width: 100%;
    height: auto;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}   
