<form [formGroup]="searchForm">
    <input type="text" formControlName="search" placeholder="Search">
</form>
<div class="article-container">
    <div *ngFor="let article of (articles$ | async)?.results" class="article">
        <a [routerLink]="['/articles', article.id]">
            <h2>{{article.title}}</h2>
            <img [src]="article.image_url" alt="" height="320" width="420">
        </a>
    </div>
</div>

<div *ngIf="isLoading" class="loading-spinner"></div>

<button (click)="onLoadMore()" class="load-more-button">Load More</button>
